{{#with . as | data |}}
import React from 'react';
import * as styles from './styles.module.scss';
import { ManifestElements } from "../dev/src/slide.types";
import { ComponentExample } from "./components"

export interface {{data.pascal}}Props {
  manifest: ManifestElements
}

export const {{data.pascal}} = ({ manifest }: {{data.pascal}}Props) => {
  const classes = styles["{{data.kebab}}"]

  return (
    <div className={classes}>
      <ComponentExample options={manifest.componentExample} />
    </div>
  )
};

export default {
  {{data.pascal}},
};
{{/with}}